<h1>February 2017</h1>

<h3>Amazon</h3>

<h4>SHOWS</h4>
<ul>
  <% SHOWS.each do |show| %>
    <li><%= show %></li>
  <% end %>
</ul>

<h4>MOVIES</h4>
<ul>
  <% MOVIES.each do |movie| %>
    <li><%= movie %></li>
  <% end %>
</ul>
